@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Silkscreen", sans-serif;
    color: white;
    font-weight: 500;
}
body{
    background: url('img/wallpaperK.png');
}
.hero{
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    text-shadow: 5px 5px 5px purple;
}
h1{
    text-decoration: overline;
}
.clock{
    margin-top: 20px;
    text-shadow: 5px 5px 5px black;
    width: 100%;
    height: 100%;
    box-shadow:  5px 5px 5px purple;;
    background: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    font-size: 80px;
    width: 130px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}
#mins::after{
    content: 'MINS';
}
#secs::after{
    content: 'SEC';
}
